header
{
    background-color:#c503c5;
    padding: 20px 0;
}
.boXoloc{
    width: 940px;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    color: black;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    vertical-align: top;
    text-transform: uppercase;
    color: black;
}

nav a{
    text-transform:uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover
{
    color: #c78c19;
    text-decoration: underline;
}
.servicio{
    text-align: center;
    color: black;
    padding: 2%;
    font-size: 25px;
    font-weight: bold;
}

.lisservice{
    text-align: center;
    color: black ;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 15px;
    vertical-align: top;
    
}
.lisservice li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 22px;
    box-sizing: border-box;
    border:2px solid black;
    border-radius: 10px;
}

.lisservice li:hover{
    border-color: green;
    font-size: 25px;

}

/*Section to register clients*/
.registro{
    padding: 2%;
    margin: 0 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 2%;
    color: blue;
}






/*Section to ubication*/

.ubication{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 2%;
}

#ubication1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#ubication2{
    font-size: 20px;
    text-align: center;
    padding: 2%;
    color: black;
    text-decoration: none;
}

.mapa{
    padding: 3em o;
}
.mapa p{
    margin:0 0 2em;
    text-align:center;
}

/*footer section*/
footer
{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding:50px ;
}

.copyright
{
    color:white;
    font-size: 13px;
    margin: 25px;
}
